{% extends "base.twig" %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}

{% set linkChain = [
    { 'linkText': 'auctions', 'linkUrl': '/auctions' }
] %}
{% switch entry.auctionStatus %}
    {% case 'workInProgress'  %}
        {% set status = 'workInProgress' %}
    {% case 'hidden'  %}
        {% set status = 'statusHidden' %}    
    {% default %}
        {% set status = 'liveNow' %}
{% endswitch %}

{% set galleryImages = entry.galleryImages.all() %}

{% block content %}
    {% include 'parts/_breadcrumbs' with { 'linkChain' : linkChain } %}

    <div class="auctionHeaderPlace">
        <div class="container">
            <div class="auctionHeader">
                <div class="leftPart">
                    <div class="headerLine">
                        <h1 class="auctionTitle">{{entry.title}}</h1>
                        <span class="badge {{status}}">{{ entry.auctionStatus.label }}</span>
                    </div>


                    <div class="infoLine">
                        <div class="infoPiece date">
                            <i class="icon far fa-calendar"></i>
                            <span class="label">{{entry.calendarDate|date('l, d mm')}}</span> 
                        </div>
                        <div class="infoPiece time">
                            <i class="icon far fa-clock"></i>
                            <span class="label">{{entry.auctionTime}}</span> 
                        </div>
                        <a class="infoPiece location"
                        href="https://maps.google.com/?q={{ entry.location.address|url_encode }}&output=classic"
                        target="_blank">
                            <i class="icon fas fa-map-marker-alt"></i>
                            <span class="label">{{entry.location.parts.number}}, {{entry.location.parts.address}}</span> 
                        </a>
                        <br/>
                        <a class="infoPiece" href="tel:{{entry.phoneNumber|replace({' ': ''})}}">
                            <i class="icon fas fa-phone"></i>
                            <span class="label">{{entry.phoneNumber}}</span> 
                        </a>
                        <a class="infoPiece" href="mailto:{{entry.emailAddress}}">
                            <i class="icon far fa-envelope"></i>
                            <span class="label">{{entry.emailAddress}}</span> 
                        </a>
                    </div>
                </div>
                <div class="rightPart">
                    <a target="_blank" href="https://www.thorntons.net.nz/online-bidding-thornton.html#!/createAccount" class="btn btnPrimary">Register</a>
                    {% if entry.catalogue.count > 0 %}
                        <a href="{{entry.catalogue.one().url}}" class="btn btnSecondary" target="_blank">View catalogue</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="auctionNavigation">
        <div class="container">
            <div class="inner">
                <div class="leftPart">
                    <ul class="nav nav-tabs" id="navTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="true">Auction Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Auction Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="terms-tab" data-toggle="tab" href="#terms" role="tab" aria-controls="terms" aria-selected="false">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="rightPart">
                    <span class="count">{{entry.galleryImages.count}} items</span>
                </div>
            </div>
        </div>
    </div>

    <div class="auctionContent container">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                <div class="tiles row">
                    {% set counter = 1 %}
                    {% for item in galleryImages %}
                        <a href="{{item.url}}"
                         data-lightbox="gallery"
                         data-counter={{counter}}
                         data-title="{{item.title}}"
                         class="col-lgx-3 col-md-6 col-6 tileItem galleryTile commentedClass__loadable" data-aos="fade-up">
                            <div class="imagePart to_lazyload"
                             {# data-imagesource="background-image:url({{item.getUrl('galleryThumbnail')}})" #}
                             data-src={{item.getUrl('sliderThumbnail')}}
                             >
                                <div class="imageTitle">{{item.title}}</div>
                            </div>
                        </a>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
                {# Show 12 images and load-more button if more than 12 #}
                {# {% if counter > 12 %}                
                    <div class="loadPlace">
                        <button class="btn btnSecondary" id="loadMore">Load more</button>
                    </div>
                {% endif %} #}
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="detailsHeader">Description</h5>
                        <div class="auctionDescription">
                            {{entry.description}}
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5 class="detailsHeader">Auction Location</h5>
                        <div class="locationMap">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key={{craft.maps.mapToken}}&q={{ entry.location.address|url_encode }}" width="600" height="320" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="terms" role="tabpanel" aria-labelledby="terms-tab">
                <h5 class="detailsHeader">Terms and Conditions</h5>
                <div class="auctionDescription">
                    {{entry.termsAndConditions}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include 'parts/_bottomForm' with { 'no_animation': true } %}
{% endblock %}
