{% extends "base.twig" %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}
{% block extraheadcode %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% set linkChain = [
    { 'linkText': 'featured products', 'linkUrl': '/products' }
] %}

{% set relatedAuction = entry.relatedAuction.one() %}

{% if relatedAuction != null %}
    {% switch relatedAuction.auctionStatus %}
        {% case 'workInProgress'  %}
            {% set status = 'workInProgress' %}
        {% case 'hidden'  %}
            {% set status = 'statusHidden' %}    
        {% default %}
            {% set status = 'liveNow' %}
    {% endswitch %}
{% endif %}

{% set pageTitle = entry.title %}
{% block content %}
    {% include 'parts/_breadcrumbs' with { 'linkChain' : linkChain } %}
    <div class="productWrap">
        <div class="container productPlace">
            <div class="row">
                <div class="col-md-6">
                    <div class="productTitleMobile">
                        {{entry.title}}
                    </div>
                    {% include 'parts/_imageWithThumbnails' with {'pictures' : entry.productImages} %}
                </div>
                <div class="col-md-6">
                    <h1 class="productTitle">{{entry.title}}</h1>
                    <div class="productLinks">
                        <button class="btn btnPrimary" data-toggle="modal" data-target="#contactModal">Enquire</button>
                        <a href="mailto:?body={{entry.title}}&subject={{entry.title}}" class="btn btnSecondary">Share</a>
                        <div class="productNav">
                            <ul class="nav nav-tabs" id="navTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Product Details</a>
                                </li>
                                {% if relatedAuction != null %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="auction-tab" data-toggle="tab" href="#auction" role="tab" aria-controls="auction" aria-selected="false">Auction Details</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="productContent">
                            <div class="tab-content" id="tabContent">
                                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                                    <div class="productDescription">{{ entry.description }}</div>
                                </div>
                                <div class="tab-pane fade relatedAuctionDescription" id="auction" role="tabpanel" aria-labelledby="auction-tab">
                                    {% if relatedAuction != null %}
                                        <div>
                                            <h4 class="relatedAuctionHeader">
                                                <a class="auctionLink" href={{relatedAuction.url}}>{{ relatedAuction.title }}</a>
                                            </h4>
                                            <span class="badge {{status}}">{{ relatedAuction.auctionStatus.label }}</span>
                                        </div>
                                    
                                        <div class="infoLine">
                                            <div class="infoPiece date">
                                                <i class="icon far fa-calendar"></i>
                                                <span class="label">{{relatedAuction.calendarDate|date('l, d mm')}}</span> 
                                            </div>
                                            <div class="infoPiece time">
                                                <i class="icon far fa-clock"></i>
                                                <span class="label">{{relatedAuction.auctionTime}}</span> 
                                            </div>
                                            <a class="infoPiece location"
                                            href="https://maps.google.com/?q={{ relatedAuction.location.address|url_encode }}&output=classic"
                                            target="_blank">
                                                <i class="icon fas fa-map-marker-alt"></i>
                                                <span class="label">{{relatedAuction.location.parts.number}}, {{relatedAuction.location.parts.address}}</span> 
                                            </a>
                                        </div>
                                        <div class="infoLine">
                                            <a class="infoPiece" href="tel:{{relatedAuction.phoneNumber|replace({' ': ''})}}">
                                                <i class="icon fas fa-phone"></i>
                                                <span class="label">{{relatedAuction.phoneNumber}}</span> 
                                            </a>
                                            <a class="infoPiece" href="mailto:{{relatedAuction.emailAddress}}">
                                                <i class="icon far fa-envelope"></i>
                                                <span class="label">{{relatedAuction.emailAddress}}</span> 
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include 'parts/_contactModal' %}
    {% include 'parts/_bottomForm' %}
{% endblock %}

