{% set defaultThumbnail = sitewideContent.auctionPlaceholderImage.one().url %}
{% set productThumbnail = product.productImages.one() ? product.productImages.one().url : defaultThumbnail %}
{% set className = extraclass is defined ? extraclass : '' %}

<div class="tileItem productTile {{className}}" data-aos="fade-up">
    <a href="{{product.url}}" style="background-image:url({{productThumbnail}})" class="tileImage"></a>
    <a href="{{product.url}}" class="tileTitle">
        <span class="title">{{product.title}}</span>
    </a>
    <div class="tileInfo">
        <div class="infoTop">
            <span class="infoLeft">
                S/N: {{product.productNumber}}
            </span>
            <span class="infoRight">
                Lot: {{product.lotNumber}}
            </span>
        </div>
        <div class="infoSpecs">
            {{product.productSpecs}}
        </div>
    </div>
    <a href="{{product.url}}" class="btn btnBlack productLink">See more</a>
</div>
